body{margin:0; padding:0; font-size:9pt;}
#login{margin:auto; width:1000px; height:600px; margin-top:60px;}
#top_left{width:1000px; height:89px; float:left;}
#top_left img {margin-left:33px;}

#center_left{width:752px; height:450px; background:url(login_09.jpg); float:left;}
#center_center{width:248px; height:89px; background:url(login_05.gif); float:left;}
#center_middle{width:248px; height:450px; float:left; background:url(login_13.gif) repeat-y;}
#center_right{width:36px; height:190px; float:right; background:url(login_11.gif);}

#down_left{width:1000px; height:50px; float:left; margin-top:15px;}
#down_center{width:248px; height:50px; background:url(login_16.gif); float:left;}
#inf{width:1000px; height:38px; background:url(login_18.png) no-repeat; }
.inf_text{font-family:Arial;display:block; width:100px; height:20px; font-size:16px; font-weight:bolder; color:#fff; margin-left:17px; margin-top:12px; float:left;}
.copyright{font-family:Arial;display:block; float:left; margin-left:17px; margin-top:15px;}

#user{ float:left;margin-left:30px; margin-top:30px; height:30px;font-family: arial, helvetica, verdana, sans-serif; font-size: 12px;}
#password{float:left;margin-left:30px; margin-top:20px; height:30px;font-family: arial, helvetica, verdana, sans-serif; font-size: 12px;}
.textinput{width:150px; height:25px; border:solid 2px #aca7a7; font-family: arial, helvetica, verdana, sans-serif; font-size: 12px;}
#rememberme{float:left;margin-left:10px; margin-top:20px; height:30px;font-size: 10px}
.checkbox{margin-left:30px;}
#btn{float:left;margin-left:30px; margin-top:20px;height:25px; margin-right:28px; text-align:center;}
#btn a{display:block; line-height:25px; background: url(bt_bg.gif); border: solid 1px #b6b6b6; width:65px; float:left; margin-left:15px; text-decoration:none; color:#000;}